.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #1b4b72;
    font-size:25px;
    height: 40px;
    width: 200px;
}

button{
    border-radius: 20px;
    font-size: 25px;
    background: white;
    width: 80px;
    height: 50px;
    margin: 4px;
}

.calculator{ 
    border: 4px solid #194f96;
    background-color: #63565e;
    padding: 20px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
